# Python
__pycache__/
*.py[cod]
*$py.class

# Environment
.env
.venv
env/
venv/
.gemini/

# Database and Local Data
db/*.db
db/authorized_users/*.pkl
db/authorized_users/

# IDE
.vscode/
.idea/

# OS
Thumbs.db
Desktop.ini
